<section id="organizers-section" class="organizers-section section">
    <div class="container">

        <h3 class="section-heading text-center mb-5">{{include.header}}</h3>
        <h4 class="section-intro text-center single-col-max mx-auto mb-3">{{include.subheader}}</h4>
        <div class="row" style="display: flex; justify-content: center;">
            {% for organizer in include.organizers_list %}
            <li style="text-align: center; list-style-type: none; font-size: 1.2em;">{{ organizer.name }}</li>
            {% endfor %}
        </div><!--//row-->
        <h4 class="section-intro text-center single-col-max mx-auto mb-3 my-5">{{include.subheader_2}}</h4>
        <div class="row" style="display: flex; justify-content: center;">
            {% for organizer in include.sci_organizers_list %}
            <li style="text-align: center; list-style-type: none; font-size: 1.2em;">{{ organizer.name }}</li>
            {% endfor %}
        </div>

        </div><!--//container-->
    
</section><!--//organizers-section-->