<section id="schedule-section" class="about-section section theme-bg-light">
    <div class="container">
        <h3 class="section-heading text-center mb-3">{{include.header}}</h3>
        <div class="section-intro single-col-max mx-auto pb-5">{{include.subheader}}
            <br><a class="btn btn-primary mt-3 text-center" href={{include.button_href}}>{{ include.button_name}}</a>
        </div>
        

    </div><!--//container-->
</section><!--//about-section-->
<style>
	a {
        text-decoration: underline;
    }

    div {
        line-height: 20pt;

    }

    #container {
        padding-left: 40px;
        padding-right: 40px;
    }
</style>
