<div class="stats-block theme-bg-primary text-white py-4 text-center">
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-3">
          <div class="item">
            <div class="number">{{ include.attendees }}</div>
            <div class="unit">Attendees</div>
          </div><!--//item-->
        </div><!--//col-->
        <div class="col-6 col-md-3">
          <div class="item">
            <div class="number">{{ include.days }}</div>
            <div class="unit">Days</div>
          </div><!--//item-->
        </div><!--//col-->
        <div class="col-6 col-md-3">
          <div class="item">
            <div class="number">{{ include.talks }}</div>
            <div class="unit">Talks</div>
          </div><!--//item-->
        </div><!--//col-->
        <div class="col-6 col-md-3">
          <div class="item">
            <div class="number">{{ include.workshops }}</div>
            <div class="unit">Workshops</div>
          </div><!--//item-->
        </div><!--//col-->
      </div>
    </div><!--//container-->
  </div><!--//stats-block-->
  