<section id="workshops-section" class="workshops-section section theme-bg-light">
    <div class="container">

        <h3 class="section-heading mb-2 text-center">{{include.header}}</h3>
        <!-- <h4 class="section-intro text-center single-col-max mx-auto mb-3">{{include.subheader}}</h4> -->
        <div class="row" style="display: flex; margin-bottom:2em;">
            {% for workshop in include.workshop_list %}
            <div class="mb-5"> 
                <li style=" list-style-type: none; font-size: 1.4em; font-weight: bold;">{{ workshop.name }}</li>
                <li style=" list-style-type: none; font-size: 1.1em;">{{ workshop.organizers }}</li>
                {% if workshop.btn_name %}
                <a class="btn btn-primary mt-3" href={{workshop.btn_href}}>{{ workshop.btn_name}}</a>
                {% endif %}
                <div style = "border-bottom: 1px solid #ccc;" class="mt-5"></div>
            </div>
            {% endfor %}
        </div><!--//row-->
    
    </div><!--//container-->
    
</section><!--//organizers-section-->